@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

@theme {
  --color-primary: #6B9080;
  --color-secondary: #354F52;
  --color-accent: #E8EDDF;
  --color-light: #F6FFF8;
  --color-dark: #2F3E46;
  --color-sand: #D4A373;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-accent);
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}